body{
font-family:Arial;
background:#121212;
color:white;
margin:0;
}

header{
background:#ff6600;
padding:15px;
display:flex;
justify-content:space-between;
}

nav{
background:#1f1f1f;
padding:10px;
}

nav button{
margin-right:10px;
}

input,textarea,button{
padding:10px;
margin:5px;
border:none;
border-radius:5px;
}

button{
background:#ff6600;
color:white;
cursor:pointer;
}

button:hover{
background:#ff4500;
}

table{
width:100%;
margin-top:10px;
border-collapse:collapse;
}

th,td{
padding:8px;
border-bottom:1px solid #333;
}

.page{
display:none;
padding:20px;
}

#loginBox{
width:300px;
margin:150px auto;
background:#1f1f1f;
padding:20px;
border-radius:10px;
text-align:center;
}